Flask==2.3.2
Flask-SQLAlchemy==3.0.5
PyMySQL==1.0.3
Authlib==1.4.0
google-auth==2.37.0
google-auth-oauthlib==1.2.1
requests==2.31.0
dnspython==2.7.0
itsdangerous==2.1.2
Werkzeug==2.3.7
Jinja2==3.1.2
pubnub==9.1.0

