{% extends "base.html"%}
{% include "header.html"%}
{%block title%}
SPOT: Chocolate
{%endblock%}
{%block body%}
<div class="container mt-5">
    <!-- Title -->
    <div class="text-center mb-4">
        <h1>Chocolate</h1>
    </div>

    <!-- Cards Section -->
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="card-title">Humidity</h3>
                    
                    <p class="card-text">Perfect: {{ food_item.humidity }}%.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="card-title">Temperature</h3>
                    <p class="card-text">Perfect: {{ food_item.temperature }}°.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="card-title">Timer</h3>
                    <p class="card-text">Cooking Time: {{ food_item.cookingTime }} mins.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}